@import "../../variables.scss";

.error {
  font-family: "bebas neue";
  font-size: 35px;
  text-align: center;
}

.loading {
  text-align: center;
  .loading-message {
    font-family: "bebas neue";
    font-size: 35px;
  }
  .loading-qty {
    color: #06b6d4;
    font-family: "bebas neue";
    font-size: 21px;
  }
}
