@import "../../style/variables.scss";

.images-to-image-image-upload {
  min-height: 140px;
  .images-to-image-image-upload-label {
    color: $colour1;
    font-family: $font1;
    font-size: 21px;
  }
  .images-to-image-image-upload-input {
    border: 1px solid $colour4;
    padding: 10px 0;
    width: 80px;
    min-height: 120px;
  }
}
