@import "./variables.scss";

* {
  box-sizing: border-box;
  font-family: sans-serif;
  margin: 0;
  outline: none;
  text-align: center;
  text-decoration: none;
  user-select: none;
}

::-webkit-scrollbar {
  height: 7px;
  width: 7px;
}
::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.1);
}
::-webkit-scrollbar-thumb {
  background: $colour4;
}
::-webkit-scrollbar-thumb:hover {
  background: $colour5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font1;
}

.app {
  background-attachment: fixed;
  background-image: url("../media/background.jpg");
  background-position: center;
  background-size: cover;
  min-height: 100vh;
  padding: 14px 2%;
}
