@font-face {
  font-family: "bebas neue";
  src: url("./fonts/BebasNeue-Regular.ttf");
}

* {
  box-sizing: border-box;
  color: #f9fafb;
  font-size: 14px;
  margin: 0;
  outline: none;
  text-decoration: none;
}

.app {
  background-color: #121212;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 14px 2%;
  .title {
    font-family: "bebas neue";
    font-size: 42px;
    text-align: center;
  }
  .stage,
  .prompt,
  .selector,
  .submit,
  .download,
  .reset {
    margin: 7px auto;
    width: 400px;
  }
  .stage,
  .prompt {
    border: 2px solid #6366f1;
  }
  .stage {
    height: 400px;
    img {
      width: 400px;
    }
  }
  .prompt {
    background-color: #2a2a2a;
    height: 150px;
  }
  .selector {
    color: #2a2a2a;
    * {
      color: #2a2a2a;
    }
  }
  .submit {
    background-color: #06b6d4;
    border: none;
    cursor: pointer;
    font-family: "bebas neue";
    font-size: 21px;
    padding: 7px;
  }
  .download,
  .reset {
    background-color: #2a2a2a;
    border: 2px solid #06b6d4;
    color: #f9fafb;
    font-family: "bebas neue";
    padding: 7px;
  }
}
