@import "./variables.scss";

::-webkit-scrollbar {
  width: 4px;
}
::-webkit-scrollbar-thumb {
  background: $colour4;

  transition: 0.3s ease-in-out background;
}
::-webkit-scrollbar-thumb:hover {
  background: $colour5;
}

* {
  box-sizing: border-box;
  color: $colour1;
  font-family: $font2;
  font-size: 14px;
  margin: 0;
  outline: none;
  text-decoration: none;
  user-select: none;
}

.app {
  background-color: $colour2;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 14px 2%;
  .title {
    font-family: $font1;
    font-size: 42px;
    text-align: center;
  }
  .prompt-dashboard {
    margin: 0 auto;
    max-width: 900px;
    width: 100%;
    .prompt-options-selectors {
      display: grid;
      grid-gap: 7px;
      grid-template-columns: repeat(3, 1fr);
      margin-bottom: 7px;
    }
    .edit-options-container {
      max-height: 140px;
      min-height: 140px;
      .edit-options {
        max-height: 140px;
        min-height: 140px;
        overflow-y: scroll;
      }
    }
    .preview-image-container {
      display: flex;
      flex-direction: column;
      margin-top: 7px;
      .preview-image-label {
        font-family: $font1;
      }
      .preview-image {
        width: 140px;
      }
    }
  }
  .gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    .gallery-item {
      cursor: pointer;
      margin: 7px;
      width: 150px;
    }
  }
}
