@import "../../style/variables.scss";

.generate-route {
  @include flex-center;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  max-width: 600px;
  align-items: center;
  justify-content: center;
  .generate-route-header {
    margin-bottom: 14px;
    .generate-route-title {
      color: $colour1;
      font-size: 35px;
      margin-bottom: -7px;
    }
    .generate-route-subtitle {
      color: $colour5;
      font-size: 14px;
    }
  }
  .generate-route-inputs {
    width: 100%;
    .generate-route-image-upload-container {
      margin-bottom: 7px;
      min-height: 140px;
    }
    .generate-route-options-selectors {
      display: flex;
      gap: 7px;
      justify-content: space-between;
      width: 100%;
    }
  }
  .generate-route-submit-container {
    width: 100%;
    .generate-route-reset-button {
      color: $colour4;
      font-family: $font1;
      font-size: 18px;
      padding-top: 3px;
      cursor: pointer;

      transition: background-color 0.3s ease;
      &:hover {
        color: $colour5;
      }
    }
  }
}

.prompt-input {
  background-color: $colour3;
  border: 2px solid $colour4;
  color: $colour1;
  font-size: 18px;
  min-height: 210px;
  padding: 7px;
  text-align: left;
  width: 100%;
}

.prompt-options-selector-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 7px;
  width: 100%;
  .prompt-options-selector-label {
    color: $colour1;
    font-family: $font1;
    font-size: 14px;
  }
  .prompt-options-selector {
    background-color: $colour3;
    border: 2px solid $colour4;
    color: $colour1;
    font-size: 18px;
    padding: 7px;
    text-align: left;
    width: 100%;
  }
}

.nav-link {
  border-bottom: 2px solid $colour2;
  color: $colour1;
  font-size: 18px;
  padding: 14px 7px 0 14px;
  text-align: left;
  width: 100%;

  transition: color 0.3s ease;
  &:hover {
    color: $colour4;
  }
}

.submit-button {
  background-color: $colour5;
  color: $colour1;
  font-family: $font1;
  font-size: 28px;
  padding: 7px 0;
  cursor: pointer;

  transition: background-color 0.3s ease;
  &:hover {
    background-color: $colour4;
  }
}

.gallery-image-container {
  cursor: pointer;
  position: relative;
  .gallery-loader {
    left: 14px;
    position: absolute;
    top: 0;
    width: 70px;
  }
  .gallery-loader-text {
    left: 28px;
    top: 60px;
    position: absolute;
    font-family: $font1;
    font-size: 14px;
    color: $colour4;
  }
  .gallery-image {
    height: 120px;
    width: auto;
    border: 2px solid $colour4;
  }
  .gallery-image-buttons {
    background-color: rgba($colour1, 0.3);
    opacity: 0;
    position: absolute;
    left: 0;
    max-height: 120px;
    top: 0;
    width: 100%;
    height: 100%;

    transition: opacity 0.3s ease;
    .gallery-image-delete {
      position: absolute;
      right: 7px;
      top: 7px;
      color: $colour3;
      font-size: 35px;

      transition: color 0.3s ease;
      &:hover {
        color: $colour5;
      }
    }
    .gallery-image-like {
      position: absolute;
      left: 7px;
      top: 7px;
      color: $colour3;
      font-size: 35px;

      transition: color 0.3s ease;
      &:hover {
        color: $colour5;
      }
    }

    .gallery-image-like.liked {
      color: $colour5;
    }
    .gallery-image-download {
      border: 2px solid $colour3;
      border-radius: 50%;
      padding-top: 3px;
      position: absolute;
      right: 7px;
      bottom: 10px;
      color: $colour3;
      font-size: 21px;
      cursor: pointer;
      width: 30px;
      height: 30px;
      text-align: center;

      transition:
        color 0.3s ease,
        border-color 0.3s ease;
      &:hover {
        border-color: $colour5;
        color: $colour5;
      }
    }
  }
  .gallery-image-buttons:hover {
    opacity: 1;
  }
}

.example-image {
  border: 2px solid $colour4;
  height: 120px;
  margin-right: 7px;
  width: auto;
}
